.bottle-image-container {
  max-width: 100%;
  max-height: 100%;
  display: flex;
  position: relative;
  width: auto;
  height: auto;
  align-items: center;
  justify-content: center;
  padding: 0px 30px;
}

.image-base {
  position: relative;
  z-index: 1;
  width: 100%;
  height: 100%;
  max-width: 1856.4px;
  max-height: 1044.225px;
}

.image-overlay {
  position: absolute;
  z-index: 2;
  width: 100%;
  height: 100%;
  max-width: 1856.4px;
  max-height: 1044.225px;
}

.table-image-container {
  display: flex;
  max-width: 100%;
  max-height: 100%;
}

.table-image {
  max-width: 50%;
  max-height: 50%;
}

h1 {
  text-align: center;
}