.table-image-container {
  display: flex;
  align-items: center;
  justify-content: center;

  flex-wrap: wrap;
}

.table-image {
  max-width: 50%;
  height: auto;
  flex: 0 0 860px;
}

.table-options {
  display: flex;
  gap: 8px;
  align-items: center;
  justify-content: center;
  min-width: 0;
  max-width: 75%;
  flex: 1 1 700x;
  flex-wrap: wrap;
}

.table-button {
  flex: 1 1 0;
  min-width: 101px;
  max-width: 116px;
  height: 50px;
  padding: "8px 12px";

  border-radius: 8px;
  border: "1px solid #ccc";
}

.bottle-image-container {
  max-width: 100%;
  max-height: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
  width: auto;
  height: auto;
  align-items: center;
  justify-content: center;
  margin: 0px 50px;
}

.img-stack {
  position: relative;
  display: inline-block;
  min-width: 561px;
  max-width: 65%;
}

.image-base {
  display: block;
  max-width: 100%;
  height: auto;
}

.image-overlay {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.checkbox-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 15px 0 50px;
  gap: 20px;
  min-width: 561px;
  width: 80%;
}

.bottle-button {
  min-width: 100px;
  min-height: 50px;
  max-width: 33.33%;
  max-height: 150px;
  width: 80%;
  height: 80%;
}

h1 {
  text-align: center;
}