.table-image-container {
  display: flex;
  align-items: center;
  justify-content: center;

  flex-wrap: wrap;
  flex-direction: column;
}

.img-stack {
  position: relative;
  display: inline-block;
  min-width: 561px;
  max-width: 35%;
}

.image-base {
  display: block;
  max-width: 100%;
  height: auto;
  z-index: 2;
}

.image-overlay {
  position: absolute;
  inset: 0;
  width: 100%;
  height: auto;
  pointer-events: none;
  z-index: 3;
}

.buttons {
  display: flex;
  flex-direction: row;
  width: 35%;
  height: 175px;
  align-items: center;
  justify-content: center;
  gap: 35px;
}

.colors-container {
  display: flex;
  flex-direction: column;
  width: 40%;
  height: 100%;
}

.colors-label {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 65px;
  width: 100%;
  color: white;
  background-color: #27455d;
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 10px;
}

.color-options {
  display: flex;
  gap: 8px;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 60px;
}

.color-button {
  flex: 1 1 0;
  width: 60px;
  height: 100%;
  border-radius: 30px;
}

.addons {
  display: flex;
  flex-direction: column;
  width: 60%;
  height: 100%;
  align-items: center;
}

.addons-label {
  display: flex;
  align-items: center;
  height: 65px;
  width: 100%;
  color: white;
  background-color: #27455d;
  font-size: 25px;
  margin-bottom: 5px;
}

.addons-label-text {
  padding-left: 30px;
  font-weight: bold;
}

.table-addons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 7px;
  width: 100%;
  height: 60px;
}

.table-addons input {
  font-weight: bold;
}

.addon-button {
  min-width: 100px;
  min-height: 50px;
  max-width: 50%;
  max-height: 150px;
  width: 50%;
  height: 100%;
  color: #27455d;
  background-color: white;
  border-color: #27455d;
  font-size: 16px;
}

h1 {
  text-align: center;
}