.table-image-container {
  display: flex;
  align-items: center;
  justify-content: center;

  flex-wrap: wrap;
}

.table-image {
  max-width: 50%;
  height: auto;
  flex: 0 0 860px;
}

.table-options {
  display: flex;
  gap: 8px;
  align-items: center;
  justify-content: center;
  min-width: 0;
  max-width: 60%;
  flex: 1 1 840px;
}

.table-button {
  flex: 1 1 0;
  min-width: 101px;
  max-width: 116px;
  height: 50px;
  padding: "8px 12px";

  border-radius: 8px;
  border: "1px solid #ccc";
}

.bottle-image-container {
  max-width: 100%;
  max-height: 100%;
  display: flex;
  position: relative;
  width: auto;
  height: auto;
  align-items: center;
  justify-content: center;
  margin: 0px 50px;
}

.image-base {
  position: relative;
  z-index: 1;
  max-width: 80%;
  max-height: 100%;
}

.image-overlay {
  position: absolute;
  z-index: 2;
  max-width: 80%;
  max-height: 100%;
}

.table-image-container {
  display: flex;
  max-width: 100%;
  max-height: 100%;
}

.checkbox-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}

h1 {
  text-align: center;
}