.table-options {
  display: flex;
  align-items: center;
  justify-content: center;
}

.table-button {
  padding: "8px 12px";
  border-radius: 8px;
  border: "1px solid #ccc";
}

.bottle-image-container {
  max-width: 100%;
  max-height: 100%;
  display: flex;
  position: relative;
  width: auto;
  height: auto;
  align-items: center;
  justify-content: center;
  margin: 0px 50px;
}

.image-base {
  position: relative;
  z-index: 1;
  max-width: 80%;
  max-height: 100%;
}

.image-overlay {
  position: absolute;
  z-index: 2;
  max-width: 80%;
  max-height: 100%;
}

.table-image-container {
  display: flex;
  max-width: 100%;
  max-height: 100%;
}

.table-image {
  max-width: 50%;
  max-height: 50%;
}

.checkbox-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  text-align: center;
}